.grid-filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @include down(600) {
    display: none;
  }
}

.grid-filter > *:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.grid-filter > *:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid var(--background-elevation-02);
}
.grid-filter__group {
  @extend %level2;
  padding-left: space(2);
  display: flex;
  align-items: center;
  border-right: none;
}

.grid-filter__group label {
  margin-right: space(1);
  color: var(--color-white-04);
  white-space: nowrap;letter-spacing: 2px;
}

.grid-filter .choices__inner {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 0 space(4) 0 0;
  font-size: 14px;
}

.grid-filter .is-focused .choices__inner {
  border: none;
  box-shadow: none;
  outline: none;
}