// Outils
// ==================
@import "tools/reset";
@import "tools/functions";
@import "tools/mixins";
@import "tools/layout";
@import "tools/elevations";
@import "tools/typography";
@import "tools/animations";

// Generic
// ==================
body {
  font-family: $font;
  font-size: 16px;
  color: var(--color);
  line-height: 1.6;
  background: var(--background-elevation--01);
  scroll-margin: 100px 0 0 0;
  word-break: break-word;
}

::selection {

}

// Modules
// ==================
@import "modules/table";
@import "modules/form";
@import "modules/modal";
@import "modules/admin/dashboard";